<!DOCTYPE html>

<html>
<head>
	<title>Seed</title>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/grid.css")">
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
	<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
	</head>
<body onload="init()">
	<script src="@routes.Assets.at("javascripts/seed.js")" type="text/javascript"></script>
	<div id="grid-main"></div>
	<div style="text-align:center">
		<button id="btn-ctrl" onclick="seedctrl()">run</button>
		<button id="btn-reset" onclick="reset()">reset</button>
	</div>
	
</body>
